
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Roboto', sans-serif;
  background-color: #f5f7fa;
  color: #222;
}


.header {
  background-color: #111;
  padding: 20px 50px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: white;
  font-size: 24px;
}
.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline;
  margin-left: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.nav-links a:hover {
  color: #00bcd4;
}


.hero {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #00bcd4;
  color: white;
}

.hero h2 {
  font-size: 40px;
}

.hero span {
  color: #111;
}


section {
  padding: 60px 20px;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
}


.project-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background-color: white;
  padding: 20px;
  width: 250px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}


footer {
  background-color: #111;
  color: white;
  text-align: center;
  padding: 15px;
}
